Bald werden wir Badlion ein neues Produkt vorstellen, welches „Badlion Premium“ heißt, ein Abonnement Service, gleich dem der von der ESEA zur Verfügung gestellt wird.
Die Details was dieses neue Abonnement angeht werden in den kommenden Wochen und Monaten bekannt gegeben.

Hier sind ein paar Beispiele von dem, was das neue Produkt beinhaltet und mit voraussichtlich noch mehr beinhaltet:

ein von dem Klient ausgehendes Anti-Cheat, mit den besten Eigenschaften von ESEA und ESL Technologie, um Minecraft so cheatfrei zu machen wie noch NIE
Erhöhung der Tick-Rate auf den Minecraft Servern, von 20 auf 128, um die geschmeidigsten Gameplay Erfahrungen kreieren zu können, sowie neue GUI Eigenschaften.
Hinzufügen von neuen Serverstandorten (bis zu 12 zum Zeitpunkt des Releasedatums), um Spielern die geringstmögliche Wartezeit zu bieten, in Zusammenarbeit mit unserer ESEA Kooperation, und weitere neue Standorte werden über das Jahr 2017 dazu kommen.
Der Badlion PvP Client, (eine modifizierte Version von Minecraft), welcher die Leistung der Spiele erhöht, und auch auf jedem anderen öffentlichen Server genutzt werden kann.
Der Badlion PvP Client beinhaltet auch, andere leistungsverstärkende Faktoren, welche nur mit dem neuen Badlion Premium Service funktionieren werden.
Spielwiedergaben, um Highlights neu zu erleben und von aus vergangenen Spielen zu lernen.
Neue Spielmodi, die Teil des neuen Wettbewerbssystems werden
PUG Kampfsystem ( Pick Up Games ), wo du fähig bist, alleine in die Warteschlange zu gehen, oder mit einem Freund zusammen (Dou-Warteschlange), um an einem 5vs5-Kampf teilzunehmen, mit einem brandneuen 5vs5-Kampfsystem.
Zugang zu einer neuen Liga, in welcher Teams fähig sind, in jeder Season Bargeld zu gewinnen (für 2017 geplant)
Scrimserver, um mit deinem Team gegen andere Teams zu jeder Tageszeit zu trainieren.
Ein Freundessystem, um die Interaktion mit deinen liebsten Badlion-Community Mitgliedern zu verbessern 
Ein neues Chatsystem, welches in den Badlion PvP Client und ins Anti-Cheat eingebaut wird, um zu jeder Tageszeit mit deinen Freunden kommunizieren zu können.
Eine neue Storeplattform, mit weiteren Produkten, um deinen Badlion-Alltag verbessern zu können


Das ist eine, auf höchster Ebene, Übersicht über alle neuen Möglichkeiten, welche mit dem neuen „Badlion Premium“ Service angeboten werden, und im Dezember starten werden. Wir werden eine geschlossene Beta für diesen Service in den kommenden Wochen starten, mit Einladungen, für welche die Community sich eintragen kann. Als letztes geben wir bekannt, dass wir Pre-Käufe für diesen Service später im Monat und am Anfang des nächsten Monats zulassen werden. Mehr Informationen werden später bekanntgegeben. Um der Klarheits Willen, wenn ihr in irgendwelchen folgenden Posts irgendeinen Bezug auf „Badlion offen“ seht, ist damit das existierende Badlion gemeint, mit allen unseren DNS Eingängen ( na.badlion.net, eu.badlion.net, sa.badlion.net, au.badlion.net ).
„Badlion Premium“ ist das oben beschriebene Produkt. Die Rängestruktur wird bald reorganisiert, um besser mit dem neuen „Badlion Premium“ Service zu harmonieren. Mehr Informationen werden in einem zukünftigen Post bekanntgegeben.

Wo anmelden und mehr erfahren?

Mehr Informationen gibt es auf https://premium.badlion.net/, im weiteren Verlauf. 
Du kannst außerdem eine E-Mail Liste hier anführen, um eine Chance auf Beta Zugang zu bekommen.

Schlussfolgerung 
Wir, vom Badlion Team, sind sehr aufgeregt wegen diesen Änderungen, und erwarten mit jedem zu Kooperieren, um die Minecraft Kompetetivcommunity noch zu vergrößern. 
Wir wollen außerdem den Community Mitgliedern danken, dass sie uns geholfen haben, diesen Punkt zu erreichen. Egal ob du ein Teammitglied bist, ein Produkt auf Badlion gekauft hast, oder einfach nur auf dem Server gespielt hast, ihr habt uns alle geholfen bis zu diesem Punkt zu kommen. Ich hoffe ihr alle geht den Schritt zum nächsten Minecraft Kompetitivlevel auf Badlion mit uns. Wir sehen uns auf den Badlion Premium Servern.

-Adam (MasterGBerry) 
